html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.ronaldo {
  display: flex;
  max-width: 440px;
  margin: 30px auto;
  flex-wrap: wrap;
  gap: 1000px;
}

.beatle {
    margin: 3px;
    border: 2px solid white;
}
